<!DOCTYPE html>
<html>
<head>
	<title>Lucas Teste</title>
</head>
<body>

<h1>Teste renderização</h1>

<form">
    <div>
        <label>Ponto inicial:</label>
        <input type="text" id="PontoA" />
    </div>
    <div>
         <label>Ponto Final:</label>
        <input type="text" id="PontoB" />
    </div>
      <div>
         <label>Autonomia:</label>
        <input type="text" id="PontoB" />
    </div>
      <div>
         <label>Valor Combustivel:</label>
        <input type="text" id="PontoB" />
    </div>
</form>

</body>
</html>